## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 2
print(a)

2

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [17]:
n = "Gonzalo Nuñez"

str

5) Crear una variable que contenga un número complejo

In [9]:
cf = 5 + 6j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
type(cf)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
pi = 3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [16]:
e = 'True'
i = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [21]:
type(i)
type(e)

str

10) Asignar a una variable, la suma de un número entero y otro decimal

In [22]:
a = 5 + 5.3

11) Realizar una operación de suma de números complejos

In [23]:
f = 2 + 3j
g = 3 + 5j

d = f + g

12) Realizar una operación de suma de un número real y otro complejo

In [25]:
d = 13 + g

print(d)

(16+5j)

13) Realizar una operación de multiplicación

In [26]:
7 * 3

21

14) Mostrar el resultado de elevar 2 a la octava potencia

In [28]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [29]:
d = 27/4

print(d)

6.75

16) De la división anterior solamente mostrar la parte entera

In [30]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [31]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [54]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [34]:
var1 = "Buenas"
var2 = "tardes"

print(var1 + " "+ var2)

Buenas tardes

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [36]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [37]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [41]:
a = float("3,8")

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [39]:
d = 3
d -= 1
print(d)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [56]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [50]:
2 + "2"

# EXPLICACION: no se pueden sumar por que son dos tipos de datos diferentes.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [53]:
2 + int("2")

a = 'este texto se repite '
b = 3
print(a * b + str(b) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces